{% extends 'base.html' %}

{% block content %}


<style type="text/css">
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>


{% if request.user.is_authenticated %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Your Shopping Cart</h1>
</div>

<div class="container">
    <!-- IF there's stuff in the cart -->
    {% if cart_classes %}
        <div class="row">
            <!-- List those classes individually -->
            {% for product in cart_classes %}
                <div class="col-md-6 mx-auto mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.TITLE }}</h5>
                            <p class="card-text">CRN: {{ product.CRN }}</p>
                            <button type="button" data-index="{{ product.CRN }}" class="btn btn-danger delete-product">Remove</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Button that actually adds to watchlist and sends email -->
        <div class="text-center mt-4">
            <button type="button" class="btn btn-outline-success btn-lg btn-animate">Add to Watchlist</button>
        </div>
    {% else %}
        <div class="text-center mt-5">
            <p class="lead">Your cart is empty</p>
        </div>
    {% endif %}
</div>




<!-- If the user isn't authenticated make em login -->
{% else %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">OpenUp App</h1>
        <p class="lead">login to use</p>
    </div>
{% endif %}


<script>
    // SCRIPT FOR CART DELETE
    // Check if the delete-product in shopping cart is pressed
    $(document).on('click', '.delete-product', function(e){
        e.preventDefault();
    
        // send the data stored in that button to cart_delete_view
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_delete' %}",
            data: {
                CRN: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            // when this successfully occurs, automatically refresh the page
            success: function(json){
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
                
    
            }
    
        });
    
    })
    </script>

<script>
    // SCRIPT FOR SEND EMAIL

    // Check if the send-email button is pressed
    $(document).on('click', '.send-email', function(e){
        e.preventDefault();
    
        // send the info in that button to send-email-view
        $.ajax({
            type: 'POST',
            url: "{% url 'send_email' %}",
            data: {
                // CAN SEND THE DATA AS TITLE AND CRN AND USE THAT IN THE MESSAGE
                //CRN: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            // auto refresh page when that works
            success: function(json){
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
                
            }
    
        });
    
    })
    </script>




{% endblock content %}