<style>
    .green-button {
        background-color: #4CAF50; /* Green background color */
        color: white; /* White text color */
        padding: 10px 20px; /* Padding inside the button */
        border: none; /* Remove border */
        border-radius: 5px; /* Optional: Add rounded corners */
        cursor: pointer; /* Add cursor pointer on hover */
    }
</style>

<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col text-center">
            <br>
            <button class="green-button" onclick="saveValues()">Start Watching...</button>
            <p id="output"></p>
        </div>
    </div>